body {
    background: blue;
    background-image: url("img_tree.gif");
}
h1 {
    font-size: xx-large;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: gold;
    font-weight: bold;
}
div {
    text-align:left;
    font-size: larger;
    color: darkorange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: darkorange;
}

